# The Price Of Money - Real Yields, Inflation, Gold

In [30]:
import pandas as pd
import numpy as np
import seaborn as sns

import PyDSWS as PyDSWS
ds = PyDSWS.Datastream(username='x', password='x')

df = ds.get_data(tickers='GOLDBLN, TRUS5YT-PCH#(USCONPRCE,1Y), FRFEDFD, UST5YIFRR, USTBI5Y, S&PCOMP',
                  start="2005-01-01",end="0", freq="M")

df.columns= ['gold','5yrealyield', 'fedfundeffrate','5Ybreakeven','TIPS', 'S&P500']

In [31]:
df.corr().round(2)

                gold  5yrealyield  fedfundeffrate  5Ybreakeven  TIPS  S&P500
gold            1.00        -0.56           -0.71        -0.08 -0.32    0.41
5yrealyield    -0.56         1.00            0.32        -0.17 -0.15   -0.12
fedfundeffrate -0.71         0.32            1.00         0.13  0.56   -0.06
5Ybreakeven    -0.08        -0.17            0.13         1.00  0.61   -0.50
TIPS           -0.32        -0.15            0.56         0.61  1.00   -0.15
S&P500          0.41        -0.12           -0.06        -0.50 -0.15    1.00